{
    "swagger": "2.0",
    "info": {
        "title": "RESTfull api for Tiler",
        "version": "1.0.0"
    },
    "host": "api.tiler.com",
    "basePath": "/api/v1",
    "schemes": [
        "http"
    ],
    "paths": {
        "/categories": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Get all categories",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/posts": {
            "get": {
                "tags": [
                    "Posts"
                ],
                "summary": "Get all posts",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            },
            "post": {
                "tags": [
                    "Posts"
                ],
                "summary": "Publish new post",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "title",
                        "in": "query",
                        "description": "Title of post",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "text",
                        "in": "query",
                        "description": "Post's text",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "preview",
                        "in": "formData",
                        "description": "Post's preview",
                        "required": false,
                        "type": "file"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Success create new post"
                    },
                    "422": {
                        "description": "Validation errors"
                    }
                },
                "security": [
                    {
                        "jwt_auth": []
                    }
                ]
            }
        },
        "/users": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Registration new user",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "User first name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "surname",
                        "in": "query",
                        "description": "User last name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User email",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "User password",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password_confirmation",
                        "in": "query",
                        "description": "User confirmation password",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Success create new user"
                    },
                    "422": {
                        "description": "Validation errors"
                    }
                }
            }
        },
        "/auth": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Authorization",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User email",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "User password",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success authorization"
                    },
                    "401": {
                        "description": "Invalid credentials"
                    }
                }
            }
        },
        "/users/{id}": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "User detail",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success get user detail"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "authorization token is required"
                    }
                },
                "security": [
                    {
                        "jwt_auth": []
                    }
                ]
            }
        }
    },
    "definitions": {},
    "securityDefinitions": {
        "jwt_auth": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    }
}